.footer-container {
  background-color: var(--purple);
  overflow-x: hidden;

  .footer-title {
    color: var(--off-white);
    font-size: 16px;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none;
  }

  p {
    color: var(--footer-color);
    font-size: 10px;
    padding-top: 16px;
  }

  hr {
    background-color: var(--white);

    height: 0.5px;
    width: 200vw;

    padding: 0px;
    margin: 0px;
  }
}

// Styling for upper footer
.footer-container .footer-upper {
  justify-content: space-between;

  padding: 50px 125px 20px;

  .footer-upper-left {
    display: flex;
    flex-flow: row wrap;

    margin: 0 30px 20px 0;

    .footer-about {
      margin: 0 60px 30px 0;
      min-width: 200px;
    }

    .footer-hack-info {
      margin: 0 20px 0 0;
    }
  }
}

// Styling for site links
.footer-site-links {
  display: flex;
  flex-flow: row wrap;

  font-size: 12px;

  .footer-site-links-text {
    padding: 0 0 5px;
  }

  .footer-hack-info,
  .footer-other-events {

    .footer-other-events-wrapper,
    .footer-hack-info-wrapper {
      text-align: left;
    }
  }

  a {
    font-family: var(--body-font);
    color: var(--footer-color);

    &:hover {
      color: #c7c7c7;
    }
  }
}

// Styling for media icons
.footer-contact-info {
  a {
    margin: 0;
    padding: 0;
  }

  svg {
    fill: var(--white);

    width: 40px;
    height: 40px;

    margin: 0 10px 0 0;

    &:visited:hover,
    &:hover {
      fill: #e6e6e6 !important;
      cursor: pointer;
    }

    a:visited {
      fill: var(--footer-color);
    }
  }
}

// Sub-footer container
.sub-footer--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 8px 15px 15px;

  span,
  a,
  p {
    color: var(--footer-color);
    font-family: var(--header-font);
    font-size: 13px;

    line-height: 1rem;

    margin: 0;
    padding: 0;
  }

  a {
    margin: 0 30px;

    &:hover {
      color: var(--off-white);
      text-decoration: none;
    }
  }

  .footer-copyright {
    margin: 5px 30px 0;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .footer-container .footer-upper {
    padding: 50px 90px 20px;
  }
}

@media (max-width: 880px) {
  .footer-container .footer-upper {
    .footer-upper-left {
      margin: 0 auto 20px;
    }

    .footer-contact-info {
      margin: 0 auto;

      h3 {
        text-align: center;
      }
    }
  }
}


@media (max-width: 684px) {
  .footer-container .footer-upper {

    padding: 50px 135px 20px;

    .footer-upper-left {
      .footer-about {
        margin: 0 auto 30px;
      }

      .footer-site-links {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 665px) {
  .sub-footer--container {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .footer-container .footer-upper {
    padding: 50px 100px 20px;
  }
}

