.footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-flow: row wrap;
    -ms-flex-line-pack: justify;

    background-color: var(--purple);
    padding: 40px 56px 0px;
    overflow-x: hidden;

    .footer-title {
        font-size: 16px;
        color: var(--off-white);
        font-weight: bold;
    }

    p { 
        color: var(--footer-color);
        padding-top: 16px;
        font-size: 10px;
    }

    hr {
        padding: 0px;
        margin: 0px;
        background-color: var(--white);
        height: 2px;
        overflow: hidden;
    }
    
}

.footer-upper {
    padding: 0px 68px;
    padding-bottom: 40px;
    .footer-about-inner {
        width: 80%;
    }
}

.footer-site-links {
    .footer-site-links-wrapper {
        display: flex;
        justify-content: center;
        .footer-hack-info, .footer-other-events {
            padding: 0px;
            text-align: center;
            .footer-other-events-wrapper, .footer-hack-info-wrapper {
                display: inline-block;
            
                text-align: left;
            }

        }
    }
    font-size: 12px;
    padding-bottom: 5px;
    .footer-title {
        padding-bottom: 6px;
    }
    a {
        font-family: var(--body-font);
        color: var(--footer-color);
        padding: 5px 0px;
        font-weight: medium;
        .footer-site-links-text {
            display: block;
            padding-bottom: 6px;
        }
    }
}

.footer-contact-info {
    .footer-social-wrapper {
        float: right;
    }
    .footer-social-icons {
        padding-top: 15px;
    }
    a {
        margin: 0;
        padding: 0;
    }
    text-align: left;
    svg {
        margin-right: 16px;
        fill: var(--white);
    }
    svg:hover {
        fill: var(--yellow); 
        cursor: pointer;
    }
}

.footer-separator {
    margin: 0 -9999rem;
}

.footer-footer {
    padding: 10px 0px;
    span, a {
        color: var(--white);
        font-family: var(--header-font);
        font-size: 12px;
    }

    .footer-conduct {
        text-align: right;
    }
}

@media (max-width: 1360px) {
    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-upper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1200px) {
    .footer-upper {
        display: flex;
        text-align: center;
        flex-direction: column;
        
        .footer-about, .footer-site-links, .footer-contact-info {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 20px;
            align-self: center;
            justify-self: center;
        }
        
        .footer-about, .footer-contact-info {
            text-align: center;
            .footer-about-inner {
                width: 100%;
            }
            padding-bottom: 20px;
        }

        .footer-site-links {
            .footer-hack-info, .footer-other-events {
                padding: 20px 0px;
            }
        }

        .footer-contact-info {
            .footer-social-wrapper {
                width: 100%;
                display: block;
                float: center;
            }
            .footer-title {
                display: inline-block;
                width: 50%;
                padding: 0px;
                margin: 0px;
            }
        } 
    }
    .footer-footer {
        display: block;
        .footer-conduct {
            text-align: left; 
        }
    } 
}
