.button {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 175px;
    height: 55px;

    border-radius: 15px;

    -webkit-box-shadow: 0 10px 6px -6px rgba(120, 120, 120, 0.25);
    -moz-box-shadow: 0 10px 6px -6px rgba(120, 120, 120, 0.25);
    box-shadow: 0 10px 6px -6px rgba(120, 120, 120, 0.25);

    &:hover {
      cursor: pointer;
      text-decoration: none;
      &:active { box-shadow: none; }

      transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
    }

    &:focus {
      outline: none;
      border: 2.5px var(--header-color) solid;
      border-radius: 15px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;

    width: 165px;
    height: 45px;

    border: 3px solid var(--white);
    border-radius: 13px;
    box-sizing: border-box;

    &:focus { outline: none; }
  }

  &__text {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;

    letter-spacing: 0.75px;

    margin: 8px 0 0;

    &:focus { outline: none; }
  }
}

// Styling for button colours
.button__container.blue {
  background-color: var(--blue);
  &:hover { background-color: var(--off-blue); }
}

.button__container.green {
  background-color: var(--green);
  &:hover { background-color: var(--off-green); }
}

.button__container.orange {
  background-color: var(--orange);
  &:hover { background-color: var(--off-orange); }
}

.button__container.pink {
  background-color: var(--pink);
  &:hover { background-color: var(--off-pink); }
}

.button__container.purple {
  background-color: var(--purple);
  &:hover { background-color: var(--off-purple); }
}

.button__container.yellow {
  background-color: var(--yellow);
  &:hover { background-color: var(--off-yellow); }
}
