.landing-container {

  .landing-banner--container {
    background-color: rgb(187, 187, 226);

    overflow-x: hidden;

    min-width: 475px;

    height: 100vh;
    // min-height: 100%;

    // display: grid;
    // grid-template-columns: 750px 15px auto;

    padding: 130px 0 0;


    .landing-banner--logo-container {
      margin: 0 auto 35px;
      text-align: center;

      img.landing-banner--logo {
        height: 150px;

      }

      // max-width: 500px;
      // height: 200px;

    }

    .event-info--container {
      text-align: center;
      width: 500px;

      margin: 0 auto;
      // padding: 250px 0 0;

      grid-column-start: 1;
    }

    .button-group--register {
      display: flex;
      margin: 0 auto;

      width: 375px;

      justify-content: space-between;
    }

    .event-info--date {
      margin: 25px 0 15px;
    }

    .event-info--countdown {
      .counter-item {
        padding: 0;
      }

      p {
        color: var(--header-color);
        text-align: center;
      }

      p.counter-item--value {
        font-size: 50px;
        margin: 0;
      }

      p.counter-item--title {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}
