// Following is styling for the landing image, title & buttons
.other-events--container {
  // Styling for Homepage banner & image
  .other-banner {
    display: flex;
    flex-direction: column;

    // Move the image to below the navbar
    margin: -77px 0 0;

    // Ensures that the content on the image stays on the image
    width: 100%;
    min-width: 475px;
    height: 100vh;
    max-height: 900px;
    min-height: 450px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // Making the scrollbar "invisible"
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  // Vertically Centers content on image
  .home-banner .home-banner--container {
    margin: auto 0;
  }

  .home-banner p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.15rem;
    font-weight: 300;

    display: table;

    margin: 0 auto 1.75rem 0;
  }

  h1.home-banner--title {
    text-align: left;
    color: #fff;
    font-size: 5.95rem;

    line-height: 1;
    letter-spacing: -0.0625rem;

    margin: 5rem 0 1rem;

    @media (max-width: 576px) {
      font-size: 5rem;
    }
  }
}

h1.other-events--title {
  text-align: center;
  font-weight: bold;

  padding: 75px 0 45px;
  margin: 0;
}

// Styling for the upcoming events content
.other-events--container {

  .upcoming-events--container,
  .past-events--container {
    margin: 0 50px;
  }

  .upcoming-events--cards,
  .past-events--cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 50px;

    justify-content: center;
  }

  .past-events--cards {
    padding: 0 0 75px 0 ;
  }
}

